# Coding Homework 1: [put your name here]

Go through this notebook, following the instructions! 

> TAs will mark this assignment by checking ***MarkUs*** autotests.

In [ ]:
# Hi -- I'm a comment!
# I'm just words -- I don't do anything else

In [1]:
# Run this cell by pressing "Shift-Enter"
1+1

2

In [2]:
# Run this cell by pressing "Shift-Enter"
# this time assigning the value into the `one_plus_one_is_two` object
one_plus_one_is_two = 1+1

In [3]:
# Run this cell by pressing "Shift-Enter"
one_plus_one_is_two

2

In [4]:
# Your homework submission will be automatically evaluated
# on MarkUs using `assert` statement tests like this one
assert one_plus_one_is_two == 2, False

In [6]:
# Assuming `one_plus_one_is_two` has the value from the earlier cells
# the above test will pass, but the following test will fail
assert 1+one_plus_one_is_two == 2, False

AssertionError: False

In [7]:
# Assuming `one_plus_one_is_two` has the value of `2`, notice that 
# `1+one_plus_one_is_two` is execuated before the ` == 2` condition is checked...
# This is an "order of operations" thing

- `True` and `False` are `bool` ("boolean") or "logical" data types
- `2` is an `int` ("integer") data type
- `==` is a logical condition check and produces `True` or `False` values
    - Other logical conditions are `<`, `<=`, `>`, `>=`, `!=`

In [10]:
type(True),type(False),type(2)

(bool, bool, int)

In [ ]:
# Any idea what `!=` does?
# You could test it out in this cell...

- Any time you want to create a new cell, just press the "+" button in the tool bar above
    - This is great for testing out code to see what it does

In [13]:
# Run this cell
import pandas as pd

!['pandapandapanda'](https://i.pinimg.com/474x/6a/18/df/6a18dff64059bb388ed1046c0f2cc350.jpg)

In [17]:
# Run this cell and all the next ones, too
coffee_ratings = pd.read_csv("coffee_ratings.csv")

In [16]:
coffee_ratings

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,78.75,Robusta,luis robles,Ecuador,robustasa,our own lab,robustasa,NaN,"san juan, playas",Café Robusta del Ecuador S.A.,...,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,m,NaN,NaN,NaN
1334,78.08,Robusta,luis robles,Ecuador,robustasa,own laboratory,robustasa,40,"san juan, playas",Café Robusta del Ecuador S.A.,...,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,m,40.0,40.0,40.0
1335,77.17,Robusta,james moore,United States,fazenda cazengo,cafe cazengo,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,...,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,m,795.0,795.0,795.0
1336,75.08,Robusta,cafe politico,India,NaN,NaN,cafe politico,NaN,NaN,NaN,...,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN
1337,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,cafe politico,NaN,NaN,NaN,...,63,0.0,None,9,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN

In [18]:
coffee_ratings.head()

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0

In [21]:
coffee_ratings.head(7)

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
5,88.83,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,m,NaN,NaN,NaN
6,88.75,Arabica,hugo valdivia,Peru,NaN,hvc,richmond investment-coffee department,NaN,NaN,HVC,...,0,0.0,Bluish-Green,0,"September 17th, 2013",Specialty Coffee Institute of Asia,m,NaN,NaN,NaN

In [22]:
coffee_ratings.iloc[:7,:]

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
5,88.83,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,m,NaN,NaN,NaN
6,88.75,Arabica,hugo valdivia,Peru,NaN,hvc,richmond investment-coffee department,NaN,NaN,HVC,...,0,0.0,Bluish-Green,0,"September 17th, 2013",Specialty Coffee Institute of Asia,m,NaN,NaN,NaN

In [24]:
coffee_ratings.iloc[:5,:5]

,total_cup_points,species,owner,country_of_origin,farm_name
0,90.58,Arabica,metad plc,Ethiopia,metad plc
1,89.92,Arabica,metad plc,Ethiopia,metad plc
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch"
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation
4,88.83,Arabica,metad plc,Ethiopia,metad plc

In [25]:
del coffee_ratings

In [26]:
# What did running the cell above do?
coffee_ratings

NameError: name 'coffee_ratings' is not defined

In [27]:
pd.read_csv("coffee_ratings.csv").head()

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0

In [28]:
coffee_ratings

NameError: name 'coffee_ratings' is not defined

In [37]:
# Why didn't the cell above work?
coffee_ratings = pd.read_csv("coffee_ratings.csv")

In [ ]:
coffee_ratings

In [29]:
# Why doesn't this cell work?
np.read_csv("coffee_ratings.csv")

NameError: name 'np' is not defined

### Q1: When would `pd.read_csv("coffee_ratings.csv")` not work?

A. It will always work  
B. When `import pandas` hasn't been previously run  
C. When `import pandas as pd` hasn't been previously run  
D. When `import pandas as pd` has been previously run but `import numpy as np` has not been previously run

In [32]:
# Q1: your answer will be tested!
Q1 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q1` instead of `None`
# E.g., Q1 = 'A'

In [34]:
# test_Q1
assert Q1=='C', "Answer is 'C'!"

AssertionError: Answer is 'c'!

In [35]:
# Notice that the `Q1` object above is being assing a `str` ("string") value
type('A')

str

### Q2: Why else might `pd.read_csv("coffee_ratings.csv")` not work?

A. As long as `import pandas as pd` has been previously run it will work  
B. If the "coffee_ratings.csv" file doesn't exist!  
C. When `import numpy as pd` hasn't been previously run  
D. If `import pandas as pd` has been previously run but `import numpy as np` is run

In [ ]:
# Q2: your answer will be tested!
Q2 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q1` instead of `None`

In [ ]:
# Q2: this is an example of how these tests work 
assert Q2=='B', "Answer is 'B'!"
# Do you 'see' why 'C' is wrong here?

In [ ]:
# test_Q2
assert Q2=='B', "Answer is 'B'!"

In [39]:
coffee_ratings.describe()

,total_cup_points,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,category_two_defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1337.000000,1338.000000,1108.000000,1108.000000,1108.000000
mean,82.151203,7.572362,7.526046,7.406614,7.541338,7.523117,7.523632,9.842227,9.842459,9.864058,7.508984,0.088356,0.479821,0.173523,3.557549,1751.029843,1799.708197,1775.369020
std,2.686862,0.315916,0.341382,0.350304,0.319173,0.307815,0.353630,0.485183,0.715296,0.554207,0.426843,0.048298,2.550603,0.832419,5.314357,8673.348986,8672.712024,8672.533233
min,59.830000,5.080000,6.080000,6.170000,5.250000,5.080000,5.250000,6.000000,0.000000,1.330000,5.170000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,81.102500,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,82.500000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,83.670000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,90.580000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [43]:
coffee_ratings.dtypes

total_cup_points        float64
species                  object
owner                    object
country_of_origin        object
farm_name                object
mill                     object
company                  object
altitude                 object
region                   object
producer                 object
in_country_partner       object
harvest_year             object
grading_date             object
variety                  object
processing_method        object
aroma                   float64
flavor                  float64
aftertaste              float64
acidity                 float64
body                    float64
balance                 float64
uniformity              float64
clean_cup               float64
sweetness               float64
cupper_points           float64
moisture                float64
category_one_defects      int64
quakers                 float64
color                    object
category_two_defects      int64
expiration               object
certification_body       object
unit_of_measurement      object
altitude_low_meters     float64
altitude_high_meters    float64
altitude_mean_meters    float64
dtype: object

In [41]:
coffee_ratings.shape

(1338, 36)

### Q3: How many `columns` does the `coffee_ratings` have?
> Hint: this is reported by the `.head()` function, and does not count the "index"

In [52]:
# Q3: your answer will be tested!
Q3 = None # Assign an integer number such as 18, 36, or 1338
# E.g., Q1 = 18 
# (as opposed to '18')

In [53]:
hint = "Answer is 36! Did you accidentally write '36' instead of 36?"
hint +="\nRunning `coffee_ratings` or `coffee_ratings.head()` will report this."

In [54]:
# test_Q3
assert Q3==36, hint

AssertionError: Answer is 36! Did you accidentally write '36'?
Running `coffee_ratings` or `coffee_ratings.head()` will report this.

### Q4: How many `rows` does the `coffee_ratings` have?
> Hint: the `.shape` attribute, e.g., `coffee_ratings.shape` will provide the correct answer, and does not count the "header"

In [55]:
# Q4: your answer will be tested!
Q4 = None # Assign an integer number such as 18, 36, or 1338

In [56]:
hint = "Answer is 1338! Did you accidentally write '1338' instead of 1338?" 
hint +="\nRunning `coffee_ratings.shape` will report this."

In [57]:
# test_Q4
assert Q4==1338, hint

AssertionError: Answer is 1338! Did you accidentally write '1338'?
Running `coffee_ratings.shape` will report this.

In [44]:
# Yet another data type...
type((1338, 36))

tuple

### Q5: What is the type of `coffee_ratings`?

A. `tuple`  
B. `pandas`  
C. `coffee_ratings`  
D. `pandas.core.frame.DataFrame` (or just `DataFrame` for short)

In [48]:
# Q5: your answer will be tested!
Q5 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q1` instead of `None`

In [46]:
hint = "Answer is 'D'!"
hint +="\nUse the '+' button in the toolbar to add a new cell"
hint +="\nAnd then try running `type(coffee_ratings)`!"

In [49]:
# test_Q5
assert Q5=='D', hint

AssertionError: Answer is 'D'!
Use the '+' button in the toolbar to add a new cell
And then try running `type(coffee_ratings)`!

### Q6: What information does the `.shape` attribute of a `DataFrame` have?

A. A `tuple` of the form (`rows`, `columns`)  
B. A `tuple` of the form (`columns`, `rows`)    
C. A `DataFrame`  does not have a `.shape` 
D. None of the above

In [72]:
# Q6: your answer will be tested!
Q6 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q1` instead of `None`

In [73]:
# test_Q6
assert Q6=='A', "Answer is 'A'!"

AssertionError: Answer is 'A'!

### Q7: What is the difference between `.head()` and `.shape`?
> Hint: an attribute is meta-data like information about an object that can be accessed directly, whereas a function needs to process and transform an object to determine its result

A. The former is an "attribute" while the latter is a "function"  
B. The former is an "function" while the latter is a "attribute"  
C. There is not difference between these two  
D. None of the above

In [74]:
# Q7: your answer will be tested!
Q7 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q1` instead of `None`

In [75]:
# test_Q7
assert Q7=='B', "Answer is 'B'!"

AssertionError: Answer is 'B'!

### Q8: What is the "default value" of the parameter of the `.head()` function?
> Hint: both `.head()` and `.head(7)` were called above, so when `.head()` is called it is using a "default value" for its argument

In [76]:
# Q8: your answer will be tested!
Q8 = None # Assign an integer number such as 18, 36, or 1338

In [77]:
hint = "Answer is 5! Indexing in `python` starts from 0 and goes to 4."

In [78]:
# test_Q8
assert Q8==5, hint

AssertionError: Answer is 5! Indexing in `python` starts from 0 and goes to 4.

### Q9: How do `python` and `pandas` index?
> Hint: look at the leftmost side of the output of the `coffee_ratings.head()`

A. Starting from `0`: `0, 1, 2, 3, ...`  
B. Starting from `1`: `1, 2, 3, 4, ...`  
C. None of the above  
D. What?

In [79]:
# Q9: your answer will be tested!
Q9 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q1` instead of `None`

In [80]:
hint = "Answer is 'B'!\n"
hint += "Add a new cell with the '+' button in the toolbar above.\n"
hint += "Run `coffee_ratings.head()` in this cell and then look at\n"
hint += 'how the "index" on the leftmost side counts starting from 0!'

In [81]:
# test_Q9
assert Q9=='A', hint

AssertionError: Answer is 'B'!
Add a new cell with the '+' button in the toolbar above.
Run `coffee_ratings.head()` in this cell and then look at
how the "index" on the leftmost side counts starting from 0!

# Avatar: The Last Airbender

![](https://i.ytimg.com/vi/lLvoZ5Wsf94/maxresdefault.jpg)


We will now turn to data about the old TV show Avatar: The Last Airbender. The data is stored in the file `avatar.csv` in the same directory as this file.

> This data was posted on [github](https://github.com/) by user
[averyrobbins1](https://github.com/averyrobbins1/appa) and subsequently featured on [Tidy Tuesday](https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-08-11/readme.md).

### Q10: How many rows and columns does the "avatar.csv" data set have?

In [86]:
# Q10: your answer will be tested!
Q10= (None,None) # Assign a `tuple` of two integers
# e.g., (1,2) for 1 row and 2 columns

In [91]:
hint = "Add a new cell with the '+' button in the toolbar above.\n"
hint += 'Then try running `pd.read_csv("avatar.csv").shape`'

In [92]:
# test_Q10
assert Q10 == (9992, 10), hint

AssertionError: Add a new cell with the '+' button in the toolbar above.
Then try `pd.read_csv("avatar.csv").shape`