# Data Wrangling

Possible Data Sets
- `amazonbooks.csv` (Let's start with this one!)
- `coffee_ratings.csv`
- `avatar.csv`
- `oly2countries.csv`
- `titanic.csv`

In [1]:
import pandas

In [9]:
pandas.read_csv('amazonbooks.csv', encoding="ISO-8859-1") # "utf-8" is the default
# file doesnt load without passing `parameter=argument` `encoding="ISO-8859-1"` to .read_csv()

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [7]:
pd.read_csv('amazonbooks.csv', encoding="ISO-8859-1")

NameError: name 'pd' is not defined

In [8]:
import pandas as pd # This alias is the standard way to use import/use/call pandas stuff

In [10]:
pd.read_csv('amazonbooks.csv', encoding="ISO-8859-1")

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [11]:
amazonbooks = pd.read_csv('amazonbooks.csv', encoding="ISO-8859-1")

In [12]:
type(amazonbooks)

pandas.core.frame.DataFrame

In [13]:
amazonbooks.dtypes
# 3: int
# 3.14: float / float64

Title             object
Author            object
List Price       float64
Amazon Price     float64
Hard_or_Paper     object
NumPages         float64
Publisher         object
Pub year         float64
ISBN-10           object
Height           float64
Width            float64
Thick            float64
Weight_oz        float64
dtype: object

In [16]:
amazonbooks

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [17]:
amazonbooks.describe()

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
count,324.000000,325.000000,323.000000,324.000000,321.000000,320.000000,324.000000,316.000000
mean,18.579753,13.333846,335.857585,2002.206790,8.163240,5.585000,0.907716,12.487975
std,14.252829,13.727679,161.984389,10.629002,0.918739,0.874057,0.368625,6.644648
min,1.500000,0.770000,24.000000,1936.000000,5.100000,4.100000,0.100000,1.200000
25%,13.950000,8.600000,208.000000,1998.000000,7.900000,5.200000,0.600000,7.800000
50%,15.000000,10.200000,320.000000,2005.000000,8.100000,5.400000,0.900000,11.200000
75%,19.950000,13.130000,416.000000,2010.000000,8.500000,5.900000,1.100000,16.000000
max,139.950000,139.950000,896.000000,2011.000000,12.100000,9.500000,2.100000,35.200000

In [18]:
amazonbooks.isnull()

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,False,False,False,False,False,False,False,False,False,False,False,False,False
321,False,False,False,False,False,False,False,False,False,False,False,False,False
322,False,False,False,False,False,False,False,False,False,False,False,False,False
323,False,False,False,False,False,False,False,False,False,False,False,False,False
324,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
# True=1 and False=0 coercion
amazonbooks.isnull().sum() # axis=0 is the default param=arg to the .sum() function

Title            0
Author           1
List Price       1
Amazon Price     0
Hard_or_Paper    0
NumPages         2
Publisher        1
Pub year         1
ISBN-10          0
Height           4
Width            5
Thick            1
Weight_oz        9
dtype: int64

In [20]:
amazonbooks.head()

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4

In [23]:
amazonbooks.iloc[:5,:] # amazonbooks.iloc[0:5,0:13]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4

In [27]:
amazonbooks.isnull().sum(axis=1)>1

0      False
1      False
2      False
3      False
4      False
       ...
320    False
321    False
322    False
323    False
324    False
Length: 325, dtype: bool

In [28]:
# breaks!
amazonbooks.iloc[ amazonbooks.isnull().sum(axis=1)>1 ,:]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [31]:
amazonbooks[amazonbooks.isnull().sum(axis=1)>1]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
8,A Dance With Dragons,"Martin RR, George",35.00,18.81,H,NaN,Bantam,2011.0,553801473,9.6,6.5,2.1,NaN
94,"Heroes of Olympus, The, Book Two: The Son of N...","Riordan, Rick",19.99,10.75,H,544.0,Hyperion Book CH,2011.0,1423140591,NaN,NaN,1.8,25.6
102,Ice bound,"Maryanne Vollers, Jerri Nielsen",14.95,5.98,P,377.0,NaN,NaN,786886994,8.3,5.3,1.0,12.8
107,Inheritance,"Paolini, Christopher",27.99,13.98,H,704.0,Knopf Books for Young Readers,2011.0,375856110,NaN,NaN,2.1,NaN
165,Prized,"O'Brien, Caragh M.",16.99,10.79,H,368.0,Roaring Brook Press,2011.0,1596435704,NaN,NaN,1.2,NaN
184,Security Analysis: Sixth Edition,Benjamin Graham,75.00,39.45,H,700.0,ÃŠMcGraw-Hil,2008.0,71592539,9.5,6.5,NaN,NaN
259,The John Deere Two-Cylinder Tractor Encycloped...,Don Macmillan,39.95,23.79,H,256.0,Voyageur Press,2007.0,140003437X,NaN,NaN,1.0,NaN

In [32]:
amazonbooks[amazonbooks.isnull().sum(axis=1)>0]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
8,A Dance With Dragons,"Martin RR, George",35.00,18.81,H,NaN,Bantam,2011.0,553801473,9.6,6.5,2.1,NaN
76,Fences,August Wislon,21.10,16.46,H,NaN,Perfection Leraning,1986.0,780707508,9.0,6.0,1.0,22.4
94,"Heroes of Olympus, The, Book Two: The Son of N...","Riordan, Rick",19.99,10.75,H,544.0,Hyperion Book CH,2011.0,1423140591,NaN,NaN,1.8,25.6
102,Ice bound,"Maryanne Vollers, Jerri Nielsen",14.95,5.98,P,377.0,NaN,NaN,786886994,8.3,5.3,1.0,12.8
107,Inheritance,"Paolini, Christopher",27.99,13.98,H,704.0,Knopf Books for Young Readers,2011.0,375856110,NaN,NaN,2.1,NaN
165,Prized,"O'Brien, Caragh M.",16.99,10.79,H,368.0,Roaring Brook Press,2011.0,1596435704,NaN,NaN,1.2,NaN
166,Psychology Ninth Edition in Modules,David G. Myers,98.95,98.95,H,778.0,Worth Publishers,2009.0,1429238240,11.3,9.5,1.5,NaN
168,Rainbow Green Live-Food Cuisine,Cousens,19.73,15.68,H,544.0,North Atlantic Books,2003.0,1556434650,9.0,7.0,1.0,NaN
169,"Raw Food, Real World: 100 Recipes to Get the Glow",Kenny & Meingallis,37.50,25.00,H,384.0,William Morrow Cookbooks,2005.0,60793554,9.1,7.3,1.4,NaN
184,Security Analysis: Sixth Edition,Benjamin Graham,75.00,39.45,H,700.0,ÃŠMcGraw-Hil,2008.0,71592539,9.5,6.5,NaN,NaN
204,The 80 10 10 Diet,Graham,NaN,118.21,P,340.0,foodnsport Press,2006.0,1893831248,8.9,6.0,0.8,16.0
210,The Audacity to Win: How Obama Won,NaN,16.00,6.40,P,432.0,Penguin,2010.0,143118080,8.4,5.5,1.0,12.8
259,The John Deere Two-Cylinder Tractor Encycloped...,Don Macmillan,39.95,23.79,H,256.0,Voyageur Press,2007.0,140003437X,NaN,NaN,1.0,NaN
272,The Old Man and The Sea,Earnest Hemingway,12.00,9.09,P,128.0,Scribner,1995.0,684801221,5.2,NaN,0.8,4.0
298,The Ultimate Guide to Tractors,Jim Glastonbury,24.99,17.99,H,448.0,Chartwell Books,2011.0,785828400,11.5,6.0,1.5,NaN

In [34]:
amazonbooks[amazonbooks.isnull().sum(axis=1)==0]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

## SQL: structured query language
- `select` [columns] (`.loc[:,]` which supports "boolean indexing" unlike `.iloc[]`)
- `where` [rows] (`[]` or `.loc[:,]` but not `.iloc[]`]
- `groupby` then "aggregation function"

In [35]:
amazonbooks.select('Author')

AttributeError: 'DataFrame' object has no attribute 'select'

In [52]:
# tuple (1,2,3) # immutable
# list [1,2,3] # mutable
amazonbooks.loc[amazonbooks.isnull().sum(axis=1)>0, ('Author', 'Title')]

,Author,Title
8,"Martin RR, George",A Dance With Dragons
76,August Wislon,Fences
94,"Riordan, Rick","Heroes of Olympus, The, Book Two: The Son of N..."
102,"Maryanne Vollers, Jerri Nielsen",Ice bound
107,"Paolini, Christopher",Inheritance
165,"O'Brien, Caragh M.",Prized
166,David G. Myers,Psychology Ninth Edition in Modules
168,Cousens,Rainbow Green Live-Food Cuisine
169,Kenny & Meingallis,"Raw Food, Real World: 100 Recipes to Get the Glow"
184,Benjamin Graham,Security Analysis: Sixth Edition
204,Graham,The 80 10 10 Diet
210,NaN,The Audacity to Win: How Obama Won
259,Don Macmillan,The John Deere Two-Cylinder Tractor Encycloped...
272,Earnest Hemingway,The Old Man and The Sea
298,Jim Glastonbury,The Ultimate Guide to Tractors

In [53]:
# amazonbooks.filter(amazonbooks.isnull().sum(axis=1)>0) # WRONG -- not using this one right...
# amazonbooks.where(amazonbooks.isnull().sum(axis=1)>0) # WRONG AGAIN!! 
# `.where()` is actually a cool useful function to replace specific values
# e.g., like missing values!
# ... hmm ... actually ...
# Maybe the best way to fill in missing values would be the `.fillna()` function

In [42]:
amazonbooks.groupby('Publisher')

In [43]:
amazonbooks.groupby('Publisher').count()

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
Publisher,,,,,,,,,,,,
1st International ed edition,1,1,1,1,1,1,1,1,1,1,1,1
Adams Media,1,1,1,1,1,1,1,1,1,1,1,1
Akashic Books,1,1,1,1,1,1,1,1,1,1,1,1
Aladdin,1,1,1,1,1,1,1,1,1,1,1,1
Albert Whitman & Company,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
Worth Publishers,2,2,2,2,2,2,2,2,2,2,2,1
Yale University Press,1,1,1,1,1,1,1,1,1,1,1,1
Yearling,1,1,1,1,1,1,1,1,1,1,1,1
foodnsport Press,1,1,0,1,1,1,1,1,1,1,1,1
ÃŠMcGraw-Hil,1,1,1,1,1,1,1,1,1,1,0,0

In [45]:
amazonbooks.groupby('Publisher').size()

Publisher
1st International ed edition    1
Adams Media                     1
Akashic Books                   1
Aladdin                         1
Albert Whitman & Company        1
                               ..
Worth Publishers                2
Yale University Press           1
Yearling                        1
foodnsport Press                1
ÃŠMcGraw-Hil                     1
Length: 161, dtype: int64

In [46]:
amazonbooks.groupby('Publisher').size().sort_values() # default is `ascending=True`

Publisher
1st International ed edition     1
Routledge                        1
Roaring Brook Press              1
Reagan Arthur Books              1
Razorbill                        1
                                ..
Harper Paperbacks                7
Mariner Books                    7
Bantam                           8
Grand Central Publishing        10
Vintage                         37
Length: 161, dtype: int64

In [47]:
amazonbooks.groupby('Publisher').size().sort_values(ascending=False) # False not false or FALSE

Publisher
Vintage                       37
Grand Central Publishing      10
Bantam                         8
Harper Paperbacks              7
Washington Square Press        7
                              ..
Free Press                     1
Farrar, Straus, and Giroux     1
Farrar Straus Giroux           1
Farr, Straus and Giroux        1
ÃŠMcGraw-Hil                    1
Length: 161, dtype: int64

In [50]:
amazonbooks.groupby('Publisher').size().value_counts() # count_values

1     112
2      21
3       9
4       4
6       4
7       4
5       4
8       1
10      1
37      1
dtype: int64

In [55]:
amazonbooks.groupby('Pub year').size()#.value_counts()

Pub year
1936.0     1
1955.0     1
1957.0     1
1959.0     1
1963.0     2
1964.0     2
1965.0     1
1967.0     1
1976.0     1
1979.0     1
1982.0     2
1985.0     1
1986.0     1
1987.0     3
1988.0     2
1989.0     6
1990.0     5
1991.0     4
1992.0     4
1993.0     9
1994.0     5
1995.0     8
1996.0     7
1997.0     6
1998.0     7
1999.0    13
2000.0     7
2001.0     9
2002.0    12
2003.0    13
2004.0    16
2005.0    12
2006.0    19
2007.0    12
2008.0    16
2009.0    20
2010.0    40
2011.0    53
dtype: int64

In [57]:
amazonbooks.describe()

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
count,324.000000,325.000000,323.000000,324.000000,321.000000,320.000000,324.000000,316.000000
mean,18.579753,13.333846,335.857585,2002.206790,8.163240,5.585000,0.907716,12.487975
std,14.252829,13.727679,161.984389,10.629002,0.918739,0.874057,0.368625,6.644648
min,1.500000,0.770000,24.000000,1936.000000,5.100000,4.100000,0.100000,1.200000
25%,13.950000,8.600000,208.000000,1998.000000,7.900000,5.200000,0.600000,7.800000
50%,15.000000,10.200000,320.000000,2005.000000,8.100000,5.400000,0.900000,11.200000
75%,19.950000,13.130000,416.000000,2010.000000,8.500000,5.900000,1.100000,16.000000
max,139.950000,139.950000,896.000000,2011.000000,12.100000,9.500000,2.100000,35.200000

In [58]:
amazonbooks

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [59]:
amazonbooks[("NumPages")]

0      304.0
1      273.0
2       96.0
3      672.0
4      720.0
       ...
320    192.0
321    160.0
322    224.0
323    480.0
324    344.0
Name: NumPages, Length: 325, dtype: float64

In [70]:
amazonbooks[("NumPages")]

0      304.0
1      273.0
2       96.0
3      672.0
4      720.0
       ...
320    192.0
321    160.0
322    224.0
323    480.0
324    344.0
Name: NumPages, Length: 325, dtype: float64

In [65]:
amazonbooks[(("NumPages"))] # tuple in a tuple () immutable

0      304.0
1      273.0
2       96.0
3      672.0
4      720.0
       ...
320    192.0
321    160.0
322    224.0
323    480.0
324    344.0
Name: NumPages, Length: 325, dtype: float64

In [64]:
amazonbooks[[("NumPages")]] # tuple in a list [] mutable

     NumPages
0       304.0
1       273.0
2        96.0
3       672.0
4       720.0
..        ...
320     192.0
321     160.0
322     224.0
323     480.0
324     344.0

[325 rows x 1 columns]

In [66]:
amazonbooks.NumPages # amazonbooks[("NumPages")] / amazonbooks[(("NumPages"))]

0      304.0
1      273.0
2       96.0
3      672.0
4      720.0
       ...
320    192.0
321    160.0
322    224.0
323    480.0
324    344.0
Name: NumPages, Length: 325, dtype: float64

In [72]:
amazonbooks.NumPages > 335.857585

0      False
1      False
2      False
3       True
4       True
       ...
320    False
321    False
322    False
323     True
324     True
Name: NumPages, Length: 325, dtype: bool

In [74]:
amazonbooks.groupby(amazonbooks.NumPages > 335.857585).size()

NumPages
False    167
True     158
dtype: int64

In [75]:
amazonbooks.groupby(amazonbooks.NumPages > 335.857585).mean()

/tmp/ipykernel_123/1643671422.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  amazonbooks.groupby(amazonbooks.NumPages > 335.857585).mean()

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
NumPages,,,,,,,,
False,16.373713,11.921677,214.533333,2000.371257,8.025301,5.592121,0.671856,9.166061
True,20.926306,14.826456,462.556962,2004.159236,8.310968,5.577419,1.158599,16.117881

In [77]:
amazonbooks.groupby(amazonbooks.NumPages > 335.857585).mean(numeric_only=True)

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
NumPages,,,,,,,,
False,16.373713,11.921677,214.533333,2000.371257,8.025301,5.592121,0.671856,9.166061
True,20.926306,14.826456,462.556962,2004.159236,8.310968,5.577419,1.158599,16.117881

In [79]:
amazonbooks[['Amazon Price']].groupby(amazonbooks.NumPages > 335.857585).mean()

          Amazon Price
NumPages
False        11.921677
True         14.826456

In [81]:
# add a new column!
amazonbooks['AboveAverageNumPages'] = amazonbooks.NumPages > 335.857585

In [83]:
amazonbooks.groupby('AboveAverageNumPages').mean(numeric_only=True)

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
AboveAverageNumPages,,,,,,,,
False,16.373713,11.921677,214.533333,2000.371257,8.025301,5.592121,0.671856,9.166061
True,20.926306,14.826456,462.556962,2004.159236,8.310968,5.577419,1.158599,16.117881

In [84]:
# breaks!
amazonbooks[['Amazon Price']].groupby('AboveAverageNumPages').mean()

KeyError: 'AboveAverageNumPages'

In [87]:
amazonbooks[['Amazon Price','AboveAverageNumPages']].groupby('AboveAverageNumPages').mean()

                      Amazon Price
AboveAverageNumPages
False                    11.921677
True                     14.826456

In [88]:
amazonbooks

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,AboveAverageNumPages
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2,False
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2,False
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0,False
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8,True
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0,False
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0,False
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4,False
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4,True
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0,True

In [91]:
#amazonbooks['PricePerPage'] = amazonbooks.NumPages/amazonbooks['Amazon Price'] # oops! upside down
amazonbooks['PricePerPage'] = amazonbooks['Amazon Price']/amazonbooks.NumPages
amazonbooks[['PricePerPage','Hard_or_Paper']].groupby('Hard_or_Paper').mean()

               PricePerPage
Hard_or_Paper
H                  0.062509
P                  0.046936

In [93]:
# The "standard deviation" `.std()` function measure how spread around the data mean the data is
amazonbooks[['PricePerPage','Hard_or_Paper']].groupby('Hard_or_Paper').std()

               PricePerPage
Hard_or_Paper
H                  0.059555
P                  0.067023

In [92]:
amazonbooks

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,AboveAverageNumPages,PricePerPage
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2,False,0.017039
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2,False,0.037363
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0,False,0.015625
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8,True,0.016176
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4,True,0.023292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0,False,0.063750
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0,False,0.172187
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4,False,0.023125
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4,True,0.203125
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0,True,0.014390

### What we learned

- boolean indexing
- `.iloc[]` selecting based on index
- `.loc[]` selecting with boolean indexing or columns or both
- `[]` selecting with boolean indexing or columns but not both
- `.groupby()` and "aggregation functions" like ~~`.count()`~~ `.size()`, `.mean()`, and `.std()`
- adding/creating columns
- learned about accessing columns
    - `df.col` or `df['col']` or `df[('col')]` or `df[(('col'))]` give series
    - `df[['col']]` gives dataframe
- `sort_values(ascending=True)`

### Forgot to mention that we also covered
- Error handing
- Missing values with `.isnull()` 
    - `.sum()` and `.sum(axis=1)`
    - There's also `.mean()` and `.std()` functions like this, e.g.

In [2]:
import pandas as pd
amazonbooks = pd.read_csv('amazonbooks.csv', encoding="ISO-8859-1")

In [3]:
amazonbooks

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [5]:
amazonbooks.loc[ (amazonbooks.Hard_or_Paper=='P')&(amazonbooks.NumPages<100) ,('Title','Author','List Price')]

,Title,Author,List Price
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50
20,A Small Place,Jamaica Kincaid,13.00
55,Cloudy With a Chance of Meatballs,Judi Barrett,6.99
109,Innovation Killers: How Financial Tools Destro...,Christensen,8.95
147,Oedipus the King,E.A. Sophocles,6.95

In [8]:
amazonbooks.loc[ (amazonbooks.Hard_or_Paper=='P')&((amazonbooks.NumPages<50)|(amazonbooks.NumPages>600)),('Title','Author','List Price','NumPages')]

,Title,Author,List Price,NumPages
3,1421: The Year China Discovered America,Gavin Menzies,15.99,672.0
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,720.0
10,A Fine Balance,Rohinton Mistry,17.00,624.0
11,A Game of Thrones: A song of fire and ice,George R.R. Martin,17.00,720.0
26,"Ada, or Ardor: A Family Chronicle",Vladimir Nabokov,18.00,624.0
32,Andrew Carnegie,David Nasaw,20.00,896.0
55,Cloudy With a Chance of Meatballs,Judi Barrett,6.99,32.0
60,Cutting for Stone,Verghese,15.95,667.0
61,Cutting for Stone,Abraham Verghese,15.95,667.0
67,East of Eden,John Steinbeck,11.50,601.0
85,Game of Thrones,Martin,17.00,720.0
111,Invisible Man,Ralph Ellison,15.95,608.0
216,The Bonfire of the Vanities,Tom Wolfe,22.00,704.0
256,The Intelligent Investor: (Revised Edition),Benjamin Graham,21.99,640.0
257,The Invisible Bridge (Vintage Contemporaries),Orringer,15.95,784.0
286,The Snowball: Warren Buffett and the Business ...,Alice Schroeder,20.00,832.0
308,To the End of the Land (Vintage International),Grossman,15.95,672.0

In [9]:
amazonbooks.loc[ (amazonbooks.Hard_or_Paper!='H')&((amazonbooks.NumPages<50)|(amazonbooks.NumPages>600)),('Title','Author','List Price','NumPages')]

,Title,Author,List Price,NumPages
3,1421: The Year China Discovered America,Gavin Menzies,15.99,672.0
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,720.0
10,A Fine Balance,Rohinton Mistry,17.00,624.0
11,A Game of Thrones: A song of fire and ice,George R.R. Martin,17.00,720.0
26,"Ada, or Ardor: A Family Chronicle",Vladimir Nabokov,18.00,624.0
32,Andrew Carnegie,David Nasaw,20.00,896.0
55,Cloudy With a Chance of Meatballs,Judi Barrett,6.99,32.0
60,Cutting for Stone,Verghese,15.95,667.0
61,Cutting for Stone,Abraham Verghese,15.95,667.0
67,East of Eden,John Steinbeck,11.50,601.0
85,Game of Thrones,Martin,17.00,720.0
111,Invisible Man,Ralph Ellison,15.95,608.0
216,The Bonfire of the Vanities,Tom Wolfe,22.00,704.0
256,The Intelligent Investor: (Revised Edition),Benjamin Graham,21.99,640.0
257,The Invisible Bridge (Vintage Contemporaries),Orringer,15.95,784.0
286,The Snowball: Warren Buffett and the Business ...,Alice Schroeder,20.00,832.0
308,To the End of the Land (Vintage International),Grossman,15.95,672.0

### Compound Conditon Boolean Selection

- `&`, `|`, `==`, `!=`

In [ ]:
# This would have been a good example to include as well, but I didn't think to do so
amazonbooks.loc[(amazonbooks.Hard_or_Paper=='P')&(amazonbooks.NumPages<100),
                ('Title','Author','List Price')].sort_values('List Price')

Also forgot to mention/summarize
- `.value_counts()`
- errata: ~~`.count()`~~ `.size()` in the first summary above